#singlepost {
    background-color: $white;
    margin-top: 60px;
    margin-bottom: 60px;
    p {
        text-align: justify;
    }
    .box-autor {
        display: table;
        margin: 0 auto;
        img {
            float: left;
            display: inline-block;
            border-radius: 3px;
        }
        .title-autor {
            margin: 30px 0px 30px 10px;
            text-transform: capitalize;
            float: left;
        }
    }
    .img-single {
        img {
            text-align: center;
            margin-top: 20px;
            border-radius: 10px;
        }
    }
    .content-single {
        h2 {
            @include type-2(32);
            margin-top: 20px;
        }
        small {
            color: $green;
            @include type-3(12);
        }
        ul {
            padding: 0;
            li {
                list-style: none;
                a {
                    color: $green;
                }
            }
        }
        span {
            a {
                color: $green;
                &:first-child {
                    padding-left: 10px;
                }
            }
        }
    }
    .comment-single {
        margin-top: 50px;
        h3 {
            @include type-3(18);
            display: block;
            float: left;
        }
        .logged-in-as {
            a {
                margin-right: 20px;
                margin-left: 20px;
                vertical-align: middle;
                color: $green;
                @include type-2(14);
            }
        }
        a {
            // float: left;
        }
        form {
            // width: 100%;
            textarea {
                width: 100%;
                border: 2px solid $green;
                border-radius: 5px;
            }
            .form-submit {
                @include transition-1;
                input[type="submit"] {
                    background: $white;
                    @include btn-color;
                    @include transition-1;
                }
            }
        }
    }
}